footer {
	background-color: #ffa732;
	padding: 5em;
	display: flex;
	justify-content: space-around;
	height: auto;
	flex-wrap: wrap;
	/* align-items: center; */
}

footer .email{
	color: #F9E8D9;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.email p , .email textarea{
	text-shadow: none;
	color: #474b4f;

}

.email textarea{
	width: 100%;
	resize: none;
}

.social-media p, .kontak p, .social-media p a, .kontak p a, .address p, .email p{
	text-shadow: none;
	color: #474b4f;

}

.email p, .social-media p:first-child, .kontak p:first-child, .address p:first-child, .email p{
	font-weight: 900;
}

.email button{
	width: 50%;
	
}

.copyright{
	height: auto;
	background-color: rgb(241, 235, 144);
	color: #474b4f;
	padding: 0.5em;
	text-align: center;
}
.copyright p{
	color: #474b4f;
	font-size: 0.8rem;
}
@media (max-width: 569px){
    footer{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	/* footer .email{
		align-self: center;
	} */
}