header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(241, 235, 144, 0.82);
	/* background-color: #333333; */
	position: fixed;
	
	box-sizing: border-box;
	border-bottom: 1px solid black;
	padding: 0em;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

/* -font judul dan nav */
.judul h2,
.nav a {
	color: #333333;
}

.nav a {
	margin: 0 1em;
	font-weight: bold;
}

.judul h2 {
	font-weight: bold 700;
}

#hamburger-menu {
	display: none;
}

#hamburger-menu i{
    color: black;
}

@media (max-width: 569px){
    main{
		margin-top: 0;
	}

	header .nav {
		position: absolute;
		top: 100%;
		right: -100%;
		background-color: #ffff;
		width: 15rem;
		height: 100vh;
		z-index: 99999999;
		align-items: left;
		font-size: 1.2rem;
		display: flex;
		transition: 0.5s right;
		flex-direction: column;
		gap: 1em;
	}

	header .nav.active {
		right: 0;
	}
	.nav a {
		display: block;
	}

	#hamburger-menu {
		display: block;
		color: black;
	}
}