body {
	margin: 0;
	background-color: #f3b664;
	height: 100vh;
}

* {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	box-sizing: border-box;
	
	/* overflow: hidden; */
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f1eb90;
	position: fixed;
	box-sizing: border-box;
	padding: 0em;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}


.nav a {
	margin: 0 1em;
	font-weight: bold;
	color: rgb(4, 3, 3);
}

#hamburger-menu {
	display: none;
}
.about img{
	background-color: rgba(247, 215, 7, 0.8);
	border-radius: 400px;
	max-width: 300px;
	border: 1px solid black;
	margin-top: 4em;
}
main {
	width: 100%;
}

.about {
	padding: 0em 0;
	margin-top: 4em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffcc00;
	background-image: url(../img/makaroni3.png);
	background-position: center;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	height: auto;
	object-fit: contain;
	width: 100%;
	text-align: center;
}

.about p {
	margin-top: 3em;
	width: 50%;
	color: white;
	font-weight: bolder;
	text-shadow: 1px 1px black;
}

/* .about p {
	width: 50%;
	
	opacity: 100%;
} */

.menu {
	text-align: center;
}

@media (max-width: 569px) {
	header {
		padding: 2em;
	}

	header .nav {
		position: absolute;
		top: 100%;
		right: -1000%;
		background-color: #fff;
		width: 30rem;
		height: 100vh;
		z-index: 99999999;
	}

	#hamburger-menu {
		display: block;
	}

	.about {
		margin-top: 10em;
	}
}

@media (max-width: 827px) {
	.about {
		background-size: auto;
		/* background-repeat: repeat; */
	}
}
